# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# Local backend configuration
backend.tf

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
