# Terraform
.terraform/
#.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
