development_subscription_id = "<DEVELOPMENT_SUBSCRIPTION_ID>"
resource_group_name         = "rg-jobassistant-dev"
location                    = "eastus2"

app_service_plan_name      = "asp-jobassistant-dev"
app_service_plan_os_type   = "Linux"
app_service_plan_sku_name  = "F1"
app_service_name           = "app-jobassistant-dev"
app_service_dotnet_version = "10.0"