development_subscription_id = "<DEVELOPMENT_SUBSCRIPTION_ID>"

location            = "eastus2"
resource_group_name = "rg-jobassistant-dev"

app_service_plan_name     = "asp-jobassistant-dev"
app_service_plan_os_type  = "Linux"
app_service_plan_sku_name = "F1"